import type { FC } from 'react'
import React from 'react'

import styled from 'styled-components'

/* eslint-disable-next-line */
export interface {{name}}Props {}

const Styled{{name}} = styled.div`
  color: pink;
`

export const {{name}}: FC<{{name}}Props> = () => {
  return (
    <Styled{{name}}>
      <h1>Welcome to {{name}}!</h1>
    </Styled{{name}}>
  )
}
